<div class="mt-4">
    <div>
        <h3>My news</h3>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Author</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/news/{{this._id}}/edit" class="btn btn-link">Edit</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-new-modal">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    You haven't post any news
                    <a href="/news/add" class="btn btn-primary my-4">Add a new</a>
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>

<div id="delete-new-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Delete this news?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-new" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<form class="mt-4" name="delete-new-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var newID;
        var deleteForm = document.forms['delete-new-form'];
        var btnDeleteNew = document.getElementById('btn-delete-new');
         
        $('#delete-new-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            newID = button.data('id');
            console.log(newID); 
        });

        
        btnDeleteNew.onclick = function() {
            deleteForm.action = '/news/' + newID + '?_method=DELETE';
            deleteForm.submit();
        }
    });
</script>