<div class="mt-4" id="my-new">
    <div>
        <h3>Users of website</h3>
    </div>

    <table class="table mt-4">
        <thead id="thead">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#each users}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.role}}</td>
                    <td>
                        <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#ban-user-modal">Ban</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Your Website has no users
                        <a href="/" class="btn btn-primary my-4">Back</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="ban-user-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ban this user?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-ban-user" type="button" class="btn btn-danger">Ban</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<form class="mt-4" name="ban-user-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var userID;
        var deleteForm = document.forms['ban-user-form'];
        var btnDeleteUser = document.getElementById('btn-ban-user');
         
        $('#ban-user-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            newID = button.data('id');
        });

        
        btnDeleteUser.onclick = function() {
            deleteForm.action = '/users/' + newID + '?_method=DELETE';
            deleteForm.submit();
        }
    });
</script>

<style>

h3 {
    color: yellow;
    text-align: center;
    font-weight: bold;
    font-size:40px;
    padding-bottom: 20px;
}
#thead {
    font-size: 20px;
    font-style: italic;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
#tbody {
    margin: 0px;
    padding: 0px;
    border: 3px solid black;
}

</style>