<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>PROFILE</title>
</head>

<body>
    {{>header}}

    <div id="top">
        <a href="http://google.com">
        <img src="img/profile.png" alt="news">
        </a>
        {{#if logged}}
        <p id="login">{{user.name}}</p>
        <a href="/logout" id="login">logout</a>
         {{else}}
        <a href="/login" id="login">login</a>
        <a href="/reg" id="login">register</a>
    </div>
        {{/if}}
        <div id="menu">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/about">tab 1</a></li>
                <li><a href="/profile">tab 2</a></li>
                <li><a href="#">tab 3</a></li>
                <li><a href="#">tab 4</a></li>
            </ul>
        </div>
  
    <br>
    <br>
    <br>
    {{#if isedit}}
    <h1>Edit news</h1>
    <form action="/editnews" method="post">
        <input type="text" name="title" placeholder="title" value="{{news.title}}" required>
        <br>
        <input type="text" name="img" placeholder="img-url" value="{{news.img}}" required>
        <br>
        <input type="text" name="genre" placeholder="genre" value="{{news.genre}}" required>
        <br>
        <input type="text" name="description" placeholder="description" value="{{news.description}}" required>
        <br>
        <input type="text" name="content" placeholder="content" value="{{news.content}}" required>
        <br>
        <input type="text" name="author" placeholder="author" value="{{news.author}}" required>
        <br>
        <input type="submit" value="SAVE">
    </form>
   {{else}}
    <br>
    <br>
    <h1>Add news</h1>
    <form action="/addnews" method="post">
        <input type="text" name="title" placeholder="title" required>
        <br>
        <input type="text" name="img" placeholder="img-url" required>
        <br>
        <input type="text" name="genre" placeholder="genre" required>
        <br>
        <input type="text" name="description" placeholder="description" required>
        <br>
        <input type="text" name="content" placeholder="content" required>
        <br>
        <input type="text" name="author" placeholder="author" required>
        <br>
        <input type="submit" value="Add">
    </form>
{{/if}}
</body>

</html>