<div class="mt-4">
    <div class="row" id="display">
        {{#each posts}}
        <div class="col-sm-6 col-lg-4" id="post">
            <div class="card card-post-item" id="post-img">
                <a href="/news/{{this.slug}}">
                    <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
                </a>
                <div class="card-body" id="post-text">
                    <a href="/news/{{this.slug}}">
                        <h5 class="card-title">{{this.title}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/news/{{this.slug}}" class="btn btn-primary">Read</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<style>
#post {
    margin-bottom: 10px;
}
</style>